body {
    background-color:#f5f5dc;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 380px;
    flex-direction: column;
    align-items: center;
    background-color: #9c6d6d;
}

img {
    width: 100%;
    max-width: 360px;
    height: auto;
    display: block;
    border-radius: 6px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
}

.cat-info {
    display: flex;
    justify-content: center;
    max-width: 360px;
}

.breed-select {
    display: flex;
    justify-content: center;
    max-width: 360px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #4f7875;
}

select.ss-main {
    background-color: #bfbfbf;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.loader {
    display: flex;
    justify-content: center;
}

.error {}

.wrap-key {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
}

.description {
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    /* border: 3px solid;
    border-color: #fff #fff transparent transparent; */
    /* box-sizing: border-box;
    animation: rotation 1s linear infinite; */
}

/* .loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    /* animation: rotationBack 0.5s linear infinite;
    transform-origin: center center; */
/* }

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #fff #fff transparent transparent; */ 
    /* animation: rotation 1.5s linear infinite; */
/* } */
/* 
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
} */

.is-hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
    pointer-events: none;
    height: 0;
}